.formAttention {
  display: flex;
  flex-direction: column;
  align-self: start;
  font-family: Arial, sans-serif;
  font-style: normal;
  border: 1px solid #045a0e;
  background-color: rgb(224, 250, 225);
  padding: 10px;
  width: 100%;
}

.formAttentionTitle {
  font-size: 22px;
  line-height: 1.4;
  font-weight: bold;
  text-transform: uppercase;
  color: #045a0e;
  text-align: center;
  margin-bottom: 16px;
}

.formDataWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 10px;
}

.formDataLabel {
  line-height: 1.4;
  flex-basis: 22%;
  margin-right: 10px;
}

.formDataInput {
  font-size: 14px;
  line-height: 1.4;
  flex-basis: 77%;
  padding: 2px 0px 2px 10px;
}

.formDataInputEmail {
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  /* flex-basis: 75%; */
  padding: 2px 2px 2px 10px;
  min-height: 30px;
}

.formDataTextarea {
  font-size: 14px;
  line-height: 1.4;
  flex-basis: 78%;
  padding: 2px 0px 2px 10px;
  min-height: 70px;
}

.buttonSubmitWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  /* padding: 10px; */
}

.buttonSubmit {
  /* width: 180px; */
  /* width: 30%; */
}
