.announcementWrapper {
  background-color: rgb(244, 252, 252);
  padding: 20px;
}

.announcementTitle {
  font-size: 24px;
  margin-bottom: 30px;
}

.announcementListWrapper {
}

.announcementList {
}

/* li */
.announcementItem {
}

.announcementItemWrapper {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  text-align: left;
}
.itemTitle {
  text-align: center;
  font-size: 21px;
  margin-bottom: 20px;
}

.itemDescription {
  /* font-size: 16px; */
  font-weight: bold;
  margin-bottom: 10px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.itemImage {
  width: 260px;
  height: 200px;
  margin: 0px auto;
}

.itemText {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .contentWrapper {
  }
}

/* @media (min-width: 980px) {
} */

@media (min-width: 1180px) {
  .contentWrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .itemText {
    margin-right: 30px;
  }

  .itemImage {
    width: 480px;
    height: 320px;
    margin: 0px auto;
  }
}


/* @media (min-width: 1380px) {
} */
