.headerTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  margin: 0px auto;
  background-color: rgb(244, 248, 227);
}

.headerTitle {
}

.headerTextWrapper {
  text-align: center;
}
.headerText {
}
.headerDescription {
}

/* @media (min-width: 768px) {
}

@media (min-width: 980px) {
}

@media (min-width: 1180px) {
}

@media (min-width: 1380px) {
} */
