.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin: 0px auto;
  text-align: center; */
  width: 100%;
  /* background-color: rgb(239, 250, 238); */
  /* background: url("../../images/background1181-1772top.jpg") right 0px top 0px,
    url("../../images/background1181-1772botton.jpg") right 0px bottom 0px;
  background-repeat: no-repeat;
  background-size: contain; */
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* margin: 0px auto;
    text-align: center; */
    /* background-color: rgb(239, 250, 238); */
  }

  /* .mainWrapper {
    flex-direction: row;
  } */

  .navWrapper {
    flex-basis: 28%;
  }

  .childrenWrapper {
    flex-basis: 71%;
  }
}

@media (min-width: 980px) {
  .navigationWrapper {
    flex-basis: 22%;
  }

  .childrenWrapper {
    flex-basis: 78%;
  }
}

@media (min-width: 1180px) {
  /* .mainWrapper {
    display: flex;
  } */

  .navWrapper {
    flex-basis: 21%;
  }

  .childrenWrapper {
    flex-basis: 79%;
  }
}

@media (min-width: 1380px) {
  .navWrapper {
    flex-basis: 19%;
  }

  .childrenWrapper {
    flex-basis: 80%;
  }

}
