.burgerWrapper {
  padding: 10px;
  border: 1px solid #fff;
  background-color: #fff;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  border: none;
  background: transparent;
  /* background-color: #fff; */
  position: absolute;
  top: -64px;
  right: 24px;
  padding: 0px;
  z-index: 10;
  cursor: pointer;
}

.burger:focus {
  outline: none;
}

.burgerSpan {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  /* background-color: #000000; */
  background-color: #ffffff;
  /* background-color: #ba4545; */
  transition: all 0.3s linear;
  /* position: relative; */
  transform-origin: 1px;
}

.spanRotate:first-child {
  transform: rotate(45deg);
}

.spanStayed:first-child,
.spanStayed:nth-child(3) {
  transform: rotate(0);
}

.spanRotate:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
}

.spanStayed:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
}

.spanRotate:nth-child(3) {
  transform: rotate(-45deg);
}

@media (min-width: 408px) {
  .burger {
    top: -54px;
    right: 20px;
    /* display: none; */
    /* opacity: 0; */
  }
}
@media (min-width: 540px) {
  .burger {
    top: -74px;
    right: 26px;
  }
}

@media (min-width: 616px) {
  .burger {
    top: -60px;
    /* right: 20px; */
  }
}

@media (min-width: 768px) {
  .burger {
    display: none;
    /* opacity: 0; */
  }
}
