.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  border: none;
  background: transparent;
  /* background-color: #fff; */
  position: absolute;
  top: 4%;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  padding: 0px;
}

.burger:focus {
  outline: none;
}

.burgerSpan {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: #000000;
  background-color: #ffffff;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.spanRotate:first-child {
  transform: rotate(45deg);
}

.spanStayed:first-child,
.spanStayed:nth-child(3) {
  transform: rotate(0);
}

.spanRotate:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
}

.spanStayed:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
}

.spanRotate:nth-child(3) {
  transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .burger {
    /* display: none; */
    /* opacity: 0; */
  }
}
