.fas {
  color: #609b07;
}

.fa-bars {
  /* color: #fff; */
  color: #477701;
}

/* .fab {
} */

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 980px) {
  .fa-times {
    /* color: #fff; */
    color: rgb(66, 147, 69);
    font-size: 2rem;
  }
}

/* @media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
} */

@media (min-width: 768px) {
}

@media (min-width: 980px) {
}

@media (min-width: 1180px) {
}

@media (min-width: 1380px) {
}
