.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 20px 20px 30px; */
  padding: 0px;
  margin-bottom: 14px;
  /* width: 100vw; */
  /* height: 140vh; */

  position: absolute;
  /* background-color: rgb(22, 64, 18);
  background-color: #25222b; */
  background-color: #25222b;

  top: 0px;
  left: 0px;
  z-index: 10;
  transition: all 600ms ease-in-out;
}

.navOpen {
  transform: translateX(0);
}

.navHide {
  transform: translateX(-250%);
}

@media (max-width: 768px) {
  .navigation {
    width: 100%;
    /* height: 140vh; */
  }
}

.navigationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  text-transform: uppercase;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 20px 10px 30px;
}

.navigationTitle {
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: #ffffff;
}

.navigationList {
  list-style: none;
}

.navigationItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  max-width: 255px;
  min-width: 255px;
  border-radius: 3px;
  /* padding: 10px 20px; */
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  font-weight: 700;
  /* background-color: #e4f8e4; */
  /* background-color: #e5ebe5; */
  /* background-color: #292828; */
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, box-shadow 0.2s, opacity 0.2s, color 0.2s;
  cursor: pointer;
  margin: 0px 0px 14px 0px;
  /* margin-bottom: 14px; */
  /* padding: 0px 0px 0px 0px; */
  text-decoration: none;
  position: relative;
}

.navigationItem:last-child {
  margin: 0px 0px 0px 0px;
}

.navigationItem:hover {
  background-color: #a6f1a6;
  background-color: #9be19b;
  color: #000;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.selectListWrapper {
  /* hides sub-menu */
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  /* transition: all 250ms ease-in-out; */
}

.selectListWrapperHidden {
  /* hides sub-menu */
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  /* transition: all 250ms ease-in-out; */
}

.navigationItem:hover > .link > .selectListWrapper {
  /* shows sub-menu */
  visibility: visible;
  opacity: 1;
  /* overflow: hidden; */
}

.navigationItem:hover > .link > .selectList {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*! Navlink */
.link {
  padding: 10px 2px;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}

.link:hover {
  color: #222222;
}

.activelink {
  color: #ffffff;
  background-color: #076702;
}

.activelink:hover {
  color: #c4e9c7;
  background-color: #0f6003;
}

/*! select */

.selectListWrapper {
  width: inherit;

}

/* .selectListWrapperOpen {
  display: block;
}
.selectListWrapperHide {
  display: none;
} */



.selectList {
  display: block;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  line-height: 1.4;
  color: #444444;
  border: 1px solid rgb(170, 170, 170, 0.7);
  border-radius: 4px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: #d8e9d2;
  background-color: #ffffff;
  padding: 4px 0px 2px 0px;
  text-align: left;
  transition: all 200ms ease-in-out;
  /* opacity: 1; */
  z-index: 10;
}



/* .selectListHidden{
display: none;
} */

.selectList:hover {
  cursor: pointer;
  border-color: #888888;
  /* background-color: linear-gradient(to bottom, #ffffff 0%, #74a061 100%); */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.4);
}

.optionItem {
  font-weight: 600;
  line-height: 1.4;
  transition: all 100ms ease-in-out;
  margin-bottom: 2px;
  border-radius: 0px;
}

.optionLink {
  display: block;
  width: 100%;
  color: #042207;
  color: #012f06;
  background-color: #a7d099;
  background-color: #bbd6b1;
  background-color: #d8e9d2;
  background-color: #ffffff;
  padding-left: 10px;
  border-radius: 0px;
  /* transition: all 100ms ease-in-out; */
}

.optionItem:hover,
.optionLink:hover {
  background-color: #9be19b;
  background-color: #4bc44b;
  background-color: #70d670;
  background-color: #0d9b0d;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.3);
}

@media (min-width: 540px) {
  .selectList {
    top: 94%;
    left: 40%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navigation {
    /* padding: 20px 20px 30px; */
    padding: 0px 4px;
    margin-bottom: 20px;
    background-color: #ffffff;
    position: static;
    /* position: fixed; */
    left: 20px;
    top: 160px;
    /* top: 0px; */
  }

  .navigationWrapper {
    padding: 20px 10px 30px;
  }

  .navigationList {
    padding: 0px 0px 0px 0px;
  }

  .navigationTitle {
    font-size: 18px;
    margin-bottom: 16px;
    color: #000;
  }

  .navigationItem {
    min-width: 200px;
    max-width: 200px;
    background-color: #e5ebe5;
  }

  /* .link div[role=button]{ */
  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    line-height: 1.4;
    min-height: 44px;
    color: #222222;
  }

  .activelink {
    color: #ffffff;
    background-color: #076702;
  }

  .activelink:hover {
    background-color: #0f6003;
  }

  .selectList {
    width: 300px;
    top: 0%;
    left: 100%;
    font-size: 14px;
    line-height: 1.4;
    padding: 8px 0px;
    background-color: #ffffff;
    z-index: 26;
    opacity: 1;
    transition: all 200ms ease-in-out;
  }


  .selectListOpen {
    /* display: block; */
    background-color: rgb(209, 100, 100);
    visibility: visible;
    /* opacity: 0.5; */
    overflow: hidden;
  }
  
  .selectListHide {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
  }

  
}

@media (min-width: 980px) {
}

@media (min-width: 1180px) {
  .navigationWrapper {
    padding: 20px 10px;
  }

  .navigationList {
  }

  .navigationTitle {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .navigationItem {
    min-width: 200px;
  }

  .link {
    min-height: 50px;
    line-height: 1.4;
  }

  .selectList {
    width: 332px;
    top: 0%;
    left: 100%;
    font-size: 15px;
    line-height: 1.4;
    padding: 8px 0px;
  }

  .optionLink {
    padding-left: 18px;
  }
}

@media (min-width: 1380px) {
}
