.navigation {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: #25222b;
  padding: 0px;
  margin-bottom: 14px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  transition: all 800ms ease-in-out;
}

.navOpen {
  transform: translateX(0);
}

.navHide {
  transform: translateX(-250%);
}

.navigationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  text-transform: uppercase;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 20px 10px 30px;
}

.navigationTitle {
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: #ffffff;
}

.navigationList {
  list-style: none;
}

.navigationItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  max-width: 255px;
  min-width: 255px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  font-weight: 700;
  background-color: #3b3838;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, box-shadow 0.2s, opacity 0.2s, color 0.2s;
  cursor: pointer;
  margin: 0px 0px 14px 0px;
  text-decoration: none;
  position: relative;
}

.navigationItem:last-child {
  margin: 0px 0px 0px 0px;
}

.navigationItem:hover {
  background-color: #a6f1a6;
  background-color: #9be19b;
  color: #000;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navigationItem .parent {
  margin: 0px 0px 0px 0px;
}

/*! Navlink */
.link {
  padding: 10px 2px;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.link:hover {
  color: #222222;
}

.activelink {
  color: #ffffff;
  background-color: #076702;
  transition: all 250ms ease-in-out;
}

.activelink + .arrow {
  border-top: 9px solid #ffffff;
  transition: all 250ms ease-in-out;
}

.activelink:hover {
  color: #c4e9c7;
  background-color: #0f6003;
}

/*! Arrow ====== start ==========================================*/
.arrow {
  /* display: none; */
  position: absolute;
  right: 10px;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 9px solid #ffffff;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  transition: all 250ms ease-in-out;
}

.activelink .arrowActive {
  transform: rotate(-90deg);
  background-color: rgb(204, 123, 37);
}

/*! SubMenu ====== start =========================================*/
.subListWrapper {
}

.subMenu {
  display: none;
  position: absolute;
  top: 96%;
  left: 0;
  width: 100%;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  line-height: 1.4;
  color: #444444;
  border: 1px solid rgb(170, 170, 170, 0.7);
  border-radius: 4px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  padding: 6px 0px 2px 0px;
  z-index: 10;
  text-align: left;
  transition: all 250ms ease-in-out;
}

.subMenuItem {
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 2px;
  border-radius: 0px;
  background-color: #ffffff;
  transition: all 100ms ease-in-out;
}

.subLink {
  display: block;
  width: 100%;
  color: #012f06;
  background-color: #ffffff;
  padding-left: 10px;
  border-radius: 0px;
}

.subMenu:hover {
  cursor: pointer;
  border-color: #888888;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.4);
}

.subMenuItem:hover,
.subLink:hover {
  background-color: #0d9b0d;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.3);
}

.navigationItem:hover > .arrow > .subMenu {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}
.navigationItem:hover .subMenu {
  display: block;
}

.navigationItem:hover .arrow {
  border-top: none;
  border-bottom: 9px solid #147f04;
}

.navigationItem:hover .activelink + .arrow {
  border-top: none;
  border-bottom: 9px solid #37ff00;
}

.navigationItem .parent {
  margin: 0px 0px 0px 0px;
}

@media (max-width: 768px) {
  .navigation {
    width: 100%;
    /* width: 100vw; */
    height: 100vh;
  }

  .subMenu {
    position: relative;
    top: 0;
    left: 0;
  }
}

/* @media (min-width: 540px) {
} */

@media (min-width: 768px) {
  .navigation {
    padding: 0px 4px;
    margin-bottom: 20px;
    background-color: #ffffff;
    position: static;
    left: 20px;
    top: 160px;
  }

  .navigationWrapper {
    padding: 20px 10px 30px;
  }

  .navigationList {
    padding: 0px 0px 0px 0px;
  }

  .navigationTitle {
    font-size: 18px;
    margin-bottom: 16px;
    color: #000;
  }

  .navigationItem {
    min-width: 200px;
    max-width: 200px;
    background-color: #e5ebe5;
  }

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    line-height: 1.4;
    min-height: 44px;
    color: #222222;
  }

  .activelink {
    color: #ffffff;
  }

  .activelink:hover {
    background-color: #0f6003;
  }

  .navigationItem .parent {
    padding: 0px 20px 0px 0px;
  }

  .arrow {
    right: 3px;
    top: 15px;
  }

  .arrowRight {
    /* display: none; */
    position: absolute;
    top: 12px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 9px solid #000000;
    border-right: none;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    transition: all 250ms ease-in-out;
  }

  .arrowActive {
    border-left: 0px solid #0f6003;
    border-right: 9px solid #147f04;
  }

  .subMenu {
    top: 0;
    left: 100%;
  }

  .activelink + .arrowRight {
    border-left: 9px solid #ffffff;
    transition: all 250ms ease-in-out;
  }

  .navigationItem:hover .arrowRight {
    border-left: none;
    border-right: 9px solid #147f04;
  }

  .navigationItem:hover .activelink + .arrowRight {
    border-left: none;
    border-right: 9px solid #37ff00;
  }

  .open {
    display: block;
    background-color: #c78648;
  }
}

@media (min-width: 980px) {
}

@media (min-width: 1180px) {
  .navigationWrapper {
    padding: 20px 10px;
  }

  .navigationList {
  }

  .navigationTitle {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .navigationItem {
    min-width: 200px;
  }

  .link {
    min-height: 50px;
    line-height: 1.4;
  }
}

@media (min-width: 1380px) {
}
