.navigationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 247, 250);
  text-transform: uppercase;
  padding: 20px 10px 30px;
}

.navigationTitle {
  font-size: 16px;
  margin-bottom: 16px;
}

.navigationList {
  list-style: none;
}

.navigationItem {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 255px;
  min-width: 255px;
  border-radius: 3px;
  /* padding: 10px 20px; */
  font-size: 16px;
  line-height: 1.6;
  font-family: inherit;
  font-weight: 700;
  background-color: #ffffff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
  cursor: pointer;
  /* margin: 0px 0px 10px 0px; */
  margin-bottom: 14px;
}

.link {
  padding: 10px 2px;
  width: 100%;
  color: #222222;
  /* min-width: 265px; */
}

.navigationItem:last-child {
  margin: 0px 0px 0px 0px;
}

.navigationItem:hover {
  background-color: #95eaf3;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.activelink {
  color: #ffffff;
  background-color: #2258f8;
}

.activelink:hover {
  background-color: #2258f8;
}

@media (min-width: 768px) {
  .navigationWrapper {
    padding: 20px 10px 30px;
  }

  .navigationList {
  }

  .navigationTitle {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .navigationItem {
    min-width: 200px;
    max-width: 200px;
  }

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    line-height: 1.4;
    min-height: 52px;
  }
}

@media (min-width: 980px) {
}

@media (min-width: 1180px) {
  .navigationWrapper {
    padding: 20px 10px;
  }

  .navigationList {
  }

  .navigationTitle {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .navigationItem {
    min-width: 200px;
  }

  .link {
    min-height: 50px;
    line-height: 1.4;
  }
}

@media (min-width: 1380px) {
}
