.registrationFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 236, 247);
  font-family: Arial, sans-serif;
  padding: 30px 10px;
}

.loginFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 236, 247);
  font-family: Arial, sans-serif;
  padding: 30px 10px;
}

/* @import url(//db.onlinewebfonts.com/c/07a38bbad54db72a40b406bed1c72f53?family=Gotham+Pro); */

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* .registerForm:last-child {
  margin-bottom: 0px;

} */

.registerFormTitle {
  font-family: Arial, sans-serif;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  width: 90%;
  color: #000000;
  margin-bottom: 26px;
}

.registerFormLabel {
  width: 90%;
  position: relative;
  margin-bottom: 20px;
}

.loginFormLabel {
  width: 90%;
  position: relative;
  margin-bottom: 20px;
}

.registerFormLabel:nth-last-child(3n-1) {
  margin-bottom: 0px;
}

.loginFormLabel:nth-last-child(2n) {
  margin-bottom: 0px;
}

.registerFormInput {
  width: 100%;
  border: 1px solid #c7c3c3;
  padding: 8px;
}

.registerFormInput::placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.8;
  color: #9b9faa;
  vertical-align: middle;
}

.inputErrorText {
  position: absolute;
  min-width: 240px;
  text-align: start;
  /* bottom: -20px; */
  color: rgb(223, 71, 71);
}

:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background: #ffffff;
  color: #fc842d;
  border: 1px solid #fc842d;
}

:-webkit-autofill:focus {
  background-color: aqua;
}

.registerFormInput:focus {
  transition: padding 0.2s ease;
}

.registerFormInput:focus::placeholder {
  opacity: 0;
}

.registrationForm {
  /* padding: 5px; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.buttonRegistrationWrapper {
  margin-bottom: 20px;
}

.buttonLoginWrapper {
  /* margin-bottom: 20px; */
}

.red {
  outline: 1px solid red;
}

.green {
  outline: 1px solid green;
}

@media screen and (min-width: 768px) {
  .registrationFormWrapper {
    /* width: inherit; */
    /* padding-left: 70px; */
  }

  .registerFormTitle {
    padding: 0px 30px;
    /* text-align: left; */
  }

  .registerForm {
    /* width: 50%; */
    /* align-items: baseline; */
    /* padding-top: 150px; */
    /* padding-left: 45px; */
  }

  .registerFormInput {
    width: 340px;
  }

  .buttonRegistrationWrapper {
    width: 150px;
    height: 40px;
  }
  .buttonLoginWrapper {
    width: 150px;
    height: 40px;
  }

  .buttonLogin,
  .buttonRegistration {
    /* margin: 20px 30px 0; */
  }

  .buttonWrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 40px 60px;
  }
}

/* @media (min-width: 980px) {
} */

@media (min-width: 1180px) {
  .buttonWrapper {
    padding: 60px 230px 20px;
  }
}

/* @media (min-width: 1380px) {
}  */
