.header {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  width: 100vw;
  flex-wrap: wrap;
  /* background-color: rgb(250, 237, 237); */
  padding: 14px 16px 0px;
  margin-bottom: 14px;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.adminInfoWrapper {
}

.headerBlockWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 15px; */
}

.logoWrapper {
  /* position: fixed; */
  /* padding: 8px 0px 8px 8px; */
  /* margin-bottom: 14px; */
  /* order: 2; */
  margin-right: 10px;
}

.headerTitleWrapper {
  width: 100%;
  /* order: 1; */
  /* margin-bottom: 14px; */
}
@media (min-width: 540px) {
  .header {
    width: 100%;
    padding: 6px 16px 0px;
    margin-bottom: 2px;
  }
}

@media (min-width: 768px) {
  .header {
    /* margin-bottom: 14px; */
    width: 100%;
  }

  .headerWrapper {
  }

  .headerBlockWrapper {
    /* flex-direction: row;
    justify-content: center;
    align-items: flex-start; */
  }

  .logoWrapper {
    /* margin-bottom: 14px; */
    /* order: 1; */
  }
  
  .headerTitleWrapper {
    width: 100%;
    /* order: 2; */
    /* margin-bottom: 14px; */
  }
}

@media (min-width: 980px) {
  .header {
    /* width: 100%; */
    padding: 10px 16px 0px;
    /* margin-bottom: 2px; */
  }

  .logoWrapper {
    /* margin-bottom: 14px; */
    /* order: 1; */
    padding: 0px 20px 0px 50px;
    margin-right: 26px;
  }
}

@media (min-width: 1180px) {
  .headerBlockWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .headerTitleWrapper {
  }
  
  .logoWrapper {
    /* margin-bottom: 14px; */
    /* order: 1; */
    padding: 0px 20px 0px 50px;
    margin-right: 30px;
  }
}

@media (min-width: 1380px) {
  .header {
    /* width: 100%; */
    padding: 6px 16px 0px;
    /* margin-bottom: 2px; */
  }

  .headerBlockWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logoWrapper {
    margin-right: 40px;
  }
}
