.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  /* background-color: rgb(250, 237, 237); */
  margin-bottom: 14px;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.adminInfoWrapper {
}

.headerBlockWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 15px;
}

.logoWrapper {
  margin-bottom: 14px;
}

.headerTitleWrapper {
  width: 100%;
  /* margin-bottom: 14px; */
}

@media (min-width: 768px) {
  /* .header {
    margin-bottom: 14px;
  }

  .headerWrapper {
  } */

  .headerBlockWrapper {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (min-width: 980px) {
}

@media (min-width: 1180px) {
  .headerBlockWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .headerTitleWrapper {
  }
}

@media (min-width: 1380px) {
  .headerBlockWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
